$primary: #f55800;
$info: #505f79;
$dark: #1c1a19;
@import "../node_modules/bootstrap/scss/bootstrap";

.bg-img {
    background-image: url("../images/Illustration-header.png");
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.bg-img-aboult {
    background-image: url("../images/Illustration-about-me.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
}